.nav {
  padding: 16px 32px;
  border-bottom: 1px solid grey;
  display: flex;
  gap: 32px;
  font-weight: 700;
  font-size: 18px;
  background-color: #e4dede;
}

.link {
  color: black;
  text-decoration: none;
  padding-bottom: 7px;
  position: relative;
  transition: color 0.3s;
}

.link:hover {
  color: blue;
}

.active {
  color: blue;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: blue;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .nav {
    padding: 12px 20px;
    gap: 20px;
    font-size: 16px;
  }
  .link {
    padding-bottom: 5px;
  }
  .active::after {
    width: 6px;
    height: 6px;
  }
}
